<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vue.dao.CustomerDao">

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_customer
    </select>

    <select id="findAllPageMap" parameterType="java.util.Map" resultType="com.vue.entity.Customer">
        SELECT * FROM t_customer LIMIT #{pageNo},#{pageSize}
    </select>

    <select id="findAllPageClass" resultType="com.vue.entity.Customer" parameterType="com.vue.util.Page">
        SELECT * FROM t_customer LIMIT #{pageNo},#{pageSize}
    </select>

    <select id="findAllPageSql" parameterType="java.lang.Integer" resultType="com.vue.entity.Customer">
        SELECT * FROM t_customer LIMIT #{pageNo},#{pageSize}
    </select>

    <select id="findAll" resultType="com.vue.entity.Customer">
        SELECT * FROM t_customer where 1=1
    </select>

    <select id="findById" parameterType="Integer" resultType="com.vue.entity.Customer">
        SELECT * FROM t_customer WHERE id = #{id}
    </select>

    <insert id="insertOne" parameterType="com.vue.entity.Customer">
        INSERT INTO t_customer (name, phone, email, education, graduationschool, profession, profile)
        values (#{name} ,#{phone},#{email},#{education},#{graduationschool},#{profession},#{profile})
    </insert>

    <delete id="delete" parameterType="Integer">
        DELETE FROM t_customer
        WHERE id=#{id}
    </delete>

    <update id="update" parameterType="com.vue.entity.Customer">
        UPDATE t_customer
        SET name=#{name},phone=#{phone},email=#{email},education=#{education},
        graduationschool=#{graduationschool},profession=#{profession},profile=#{profile}
        WHERE id=#{id}
    </update>
</mapper>